<script src="../assets/vendors/jquery/jquery.js"></script>
<script src="../assets/vendors/bootstrap/js/bootstrap.js"></script>
<!--引入模板引擎-->
<script src="../assets/vendors/template/template.js"></script>
<script>NProgress.done()</script>
</body>
</html>

<script>
    $('#loginout').on('click', function (e) {
        e.preventDefault();
        $.ajax({
            url: '/loginout',
            method: 'get',
            success: result => {
                let {status, msg} = result;
                if (status === 200) {
                    alert(msg);

                    //成功退出后 跳转到/login
                    window.location = '/login';
                }
            }
        })
    });

</script>