<% include usersLayout/header.ejs %>

<div class="main">
    <% include usersLayout/nav.ejs %>
    <div class="container-fluid">
        <div class="page-title">
            <h1>修改密码</h1>
        </div>
        <!-- 有错误信息时展示 -->
        <!-- <div class="alert alert-danger">
          <strong>错误！</strong>发生XXX错误
        </div> -->
        <form class="form-horizontal" id="form">
            <div class="form-group">
                <label for="old" class="col-sm-3 control-label">旧密码</label>
                <div class="col-sm-7">
                    <input id="old" class="form-control" type="password" placeholder="旧密码">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">新密码</label>
                <div class="col-sm-7">
                    <input id="password" class="form-control" type="password" placeholder="新密码">
                </div>
            </div>
            <div class="form-group">
                <label for="confirm" class="col-sm-3 control-label">确认新密码</label>
                <div class="col-sm-7">
                    <input id="confirm" class="form-control" type="password" placeholder="确认新密码">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    <button id="editPwd" type="submit" class="btn btn-primary">修改密码</button>
                </div>
            </div>
        </form>
    </div>
</div>

<% include usersLayout/aside.ejs %>
<% include usersLayout/footer.ejs %>

<script>
    $('#editPwd').on('click', (e) => {
        e.preventDefault();
        //获取旧密码
        let oldPwd = $('#old').val();
        //获取新密码
        let pwd = $('#password').val();
        //确认新密码
        let confirm = $('#confirm').val();
        //1.不能为空
        if (oldPwd == '' || pwd == '' || confirm == '') {
            alert('请输入密码');
            return;
        }

        //2.新密码和确认新密码对比
        if (pwd !== confirm) {
            alert('两次输入的密码不一致');
            //应该重置表单中的密码 reset是dom的方法
            $('.form-horizontal')[0].reset();
            return;
        }

        //3.获取输入的旧密码和确认新密码 如果一样则不发送请求
        if (oldPwd === confirm) {
            alert('您输入的旧密码和新密码相同');
            return;
        }

        $.ajax({
            url: '/resetPwd',
            method: 'post',
            data: {
                old: oldPwd,
                new: confirm
            },
            success: result => {
                let {status, msg} = result;
                if (status === 200) {
                    alert(msg);

                    //跳转到登录页面
                    window.location = '/login';
                } else {
                    alert(msg);
                }
            }
        });

    });
</script>
