<% include usersLayout/header.ejs %>

<div class="main">
    <% include usersLayout/nav.ejs %>
    <div class="container-fluid">
        <div class="page-title">
            <h1>写文章</h1>
        </div>
        <!-- 有错误信息时展示 -->
        <!-- <div class="alert alert-danger">
          <strong>错误！</strong>发生XXX错误
        </div> -->
        <form class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label for="title">标题</label>
                    <input id="title" class="form-control input-lg" name="title" type="text" placeholder="文章标题">
                </div>
                <div class="form-group">
                    <label for="content">标题</label>
                    <textarea id="content" class="form-control input-lg" name="content" cols="30" rows="10"
                              placeholder="内容"></textarea>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="slug">别名</label>
                    <input id="slug" class="form-control" name="slug" type="text" placeholder="slug">
                    <p class="help-block">https://zce.me/post/<strong>slug</strong></p>
                </div>
                <div class="form-group">
                    <label for="feature">特色图像</label>
                    <!-- show when image chose -->
                    <img id="featureImg" class="help-block thumbnail" style="display: none">
                    <input id="feature" class="form-control" name="feature" type="file">
                </div>
                <div class="form-group">
                    <label for="category">所属分类</label>
                    <!--分类的下拉菜单-->
                    <select id="category" class="form-control" name="category">

                    </select>
                </div>
                <div class="form-group">
                    <label for="created">发布时间</label>
                    <input id="created" class="form-control" name="created" type="datetime-local">
                </div>
                <div class="form-group">
                    <label for="status">状态</label>
                    <select id="status" class="form-control" name="status">
                        <option value="drafted">草稿</option>
                        <option value="published">已发布</option>
                    </select>
                </div>
                <div class="form-group">
                    <button id="save" class="btn btn-primary" type="submit">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>

<% include usersLayout/aside.ejs %>
<% include usersLayout/footer.ejs %>
<!--分类下拉菜单-->
<script id="tmp" type="text/html">
    {{ each data }}
    <option value="{{ $value.id }}">{{ $value.name }}</option>
    {{ /each }}
</script>
<script>
    //页面一加载渲染categories表中的所有分类 到当前form表单的下拉菜单中
    //注意:
    function getSelect() {
        $.ajax({
            url: '/categoriesData',
            method: 'get',
            success: result => {
                //使用模板引擎
                let html = template('tmp', result);
                $('#category').html(html);
            }
        })
    }

    getSelect();

    //图片预览
    $('#feature').change(() => {
        let imgUrl = URL.createObjectURL($('#feature')[0].files[0]);
        //链式编程
        $('#featureImg').show().attr('src', imgUrl);
    });

    //添加文章:为保存按钮注册一个点击事件
    $('#save').on('click', (e) => {
        e.preventDefault();

        //提交参数
        let fd = new FormData();
        fd.append('title', $('#title').val());
        fd.append('content', $('#content').val());
        fd.append('slug', $('#slug').val());
        fd.append('feature', $('#feature')[0].files[0]);
        fd.append('category_id', $('#category').val());  //传递option标签中的参数是value属性 可以直接传select标签的value属性
        fd.append('created', $('#created').val());  //创建的时间也是value属性
        fd.append('status', $('#status').val());

        $.ajax({
            url: '/postSave',
            method: 'post',
            data: fd,
            processData: false,
            contentType: false,
            success: result => {
                let {status, msg} = result;
                if (status === 200) {
                    alert(msg);
                } else {
                    alert(msg);
                }
            }
        })
    })
</script>
